#navBlock {
  width: 100%;
  height: 80px;
  box-shadow: 0px 0px 8px 0px rgb(96, 95, 95);
}
#navBlock > article {
  width: 85;
  height: inherit;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoBlock > img {
  width: 140px;
}

.menuBlock > ul {
  list-style-type: none;
  display: flex;
}

.menuBlock > ul > li > a {
  text-decoration: none;
  margin-left: 35px;
  font-size: 19px;
  color: #4b4b4b;
}

.menuBlock > ul > li > a:hover {
  color: dodgerblue;
}

.menuBlock > ul > li > a:focus {
  color: dodgerblue;
  font-weight: 500;
}

.genderGroup {
  display: flex;
  align-items: center;
  gap: 15px;
}

.genderOptions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.genderOptions input {
  margin-left: 10px;
}

button {
  width: 100px;
  height: 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  padding: 0px;
}

button:hover {
  background-color: #0056b3;
}
